<% include ../partials/header %>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Brand </th>
            <th>Ram</th>
            <th>Price</th>
            <th>Create at </th>
            <th>Action
            <td>
               
        </tr>
    </thead><br><br>
    <div style="text-align: center;">
            <a class="btn btn-primary btn-lg btn-success"  href="productadd" role="button">
                Add New Products</a>
            </th></div><br>
    <tbody>
        <% products.forEach(function(product) { %>
        <tr>
            <td scope="row">
                <%= product.ID %></a></td>

            <td> <%= product.Brand %></td>
            <td> <%= product.Ram %> </td>
            <td> <%= product.price %> </td>
            <td> <%= product.create_at %> </td>
            <td>
                <a class="btn btn-primary btn-lg " href="products/detail/<%=product.ID%>" role="button">View</a>
                <a class="btn btn-info btn-lg " href="products/edit/<%=product.ID%>" role="button">Edit</a>

                <a class="btn btn-danger btn-lg"  role="button" href="" data-toggle="modal"
                    data-target="#confirm-delete<%=product.ID%>" href="">Delete</a>

                <div class="modal fade" id="confirm-delete<%=product.ID%>" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                Confirmation
                            </div>
                            <div class="modal-body">
                                Are you sure to delete ? ( <%=product.ID%> )
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-primary" role="button" href="products/delete/<%=product.ID%>">OK</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>
<% include ../partials/footer %>